@import 'tailwindcss';
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@import './editor.css';

:root {
  --background: hsl(0, 0%, 100%);
  --background-off: hsl(30, 20%, 98%);
  --background-editor: hsl(30, 10%, 98%);
  --foreground: hsl(240, 10%, 3.9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240, 10%, 3.9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(240, 10%, 3.9%);
  --primary: #93e10c;
  --primary-foreground: hsl(82, 15%, 9.5%);
  --secondary: hsl(240, 4.8%, 95.9%);
  --secondary-foreground: hsl(240, 5.9%, 10%);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: hsl(240, 3.8%, 46.1%);
  --accent: hsl(240, 4.8%, 90%);
  --accent-foreground: hsl(240, 5.9%, 10%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(0, 0%, 98%);
  --sidebar: oklch(0.958 0.001 360);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: hsla(0, 0%, 0%, 0.03);
  --sidebar-accent-foreground: hsl(240, 3.7%, 26.8%);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --tooltip: hsl(240, 3.7%, 2.42%);
  --tooltip-foreground: hsl(0, 12.42%, 88.42%);
  --border: oklch(0.95 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: hsl(240, 5.9%, 10%);
  --radius: 0.6rem;
  --font-family:
    'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --brand-font: 'Bricolage Grotesque', serif;
}

.dark {
  --background: hsl(20, 14.3%, 4.1%);
  --background-off: hsl(223.81, 0%, 12%);
  --background-editor: hsl(223.81, 0%, 10%);
  --foreground: hsl(0, 0%, 95%);
  --card: hsl(24, 9.8%, 10%);
  --card-foreground: hsl(0, 0%, 95%);
  --popover: hsl(0, 0%, 9%);
  --popover-foreground: hsl(0, 0%, 95%);
  --primary: hsl(82, 100%, 50%);
  --primary-foreground: hsl(0, 0%, 8.4%);
  --secondary: hsl(240, 3.7%, 15.9%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --muted: hsl(240, 3.7%, 15.9%);
  --muted-foreground: hsl(240, 5%, 64.9%);
  --accent: hsl(240, 3.75%, 15.8%);
  --accent-foreground: hsl(0, 0%, 98%);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: hsl(0, 0%, 5%, 0.2);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
  --sidebar: oklch(0.27 0 0);
  --tooltip: hsl(236.42, 3.94%, 18.42%);
  --tooltip-foreground: oklch(0.984 0.0062 283.11);
  --destructive: oklch(0.577 0.213 22.325);
  --destructive-foreground: hsl(0, 85.7%, 97.3%);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: hsl(240, 4.9%, 83.9%);
}

@theme {
  --default-font-family: var(--font-family);
  --font-brand: var(--brand-font);
  --animate-button-pop: pop 0.25 ease-in-out;

  @keyframes pop {
    0% {
      transform: scale(0.98);
    }

    40% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-background-off: var(--background-off);
  --color-background-editor: var(--background-editor);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-tooltip: var(--tooltip);
  --color-tooltip-foreground: var(--tooltip-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50 antialiased;
  }
  body {
    @apply bg-background-off text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-1 bg-neutral-500/20;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-500/50;
  }
}
