<p>Olá, <%= @resource.email %>! Seja bem-vindo ao PaperHub.</p>

<p>Você pode entrar na sua conta usando o link abaixo:</p>

<p><%= link_to "Entrar na minha conta", magic_link_url(@resource, @scope_name => {email: @resource.email, token: @token, remember_me: @remember_me}) %></p>

<p>Não se esqueça que o link expira em <%= Devise.passwordless_login_within.inspect %>.</p>

<p>Atenciosamente,</p>
<p>Equipe PaperHub</p>